*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color:black;
    min-height: 50px;
}

.container {
    /* background-color: yellow; */
    min-height: 50px;
    width: 70%;
    margin: 0 auto;
}

.whiteText {
    color: whitesmoke;
}

.cities-right {
    /* background-color: blue; */
    min-height: 50px;
}

.flexed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5em;
}

.flex-even {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5em;
}

.flex-start {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
    gap: 1.5em;
}

.current-city {
    background-color: chartreuse;
    min-height: 100px;
    border-bottom: 2px solid black;
}

.features {
background-color: burlywood;
min-height: 100px;
}

.day {
    background-color: slategrey;
    flex: 1;
}

.high {
    color: red;
}

.low {
    color: royalblue;
}

.day {
    margin: 1.5rem;
}

.icon {
    border-radius: 50%;
}

.temperature {
    border: black;
    font-size: 16pt;
}