* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

img {
    width: 150px;
    margin: 10px;
}

.container {
    background-color: firebrick;
    width: 610px;
    height: 610px;
    padding: 20px;
    margin: 0 auto;
}

.classes {
    display: flexbox;
    padding: 1.5em;
    justify-content: space-between;
}

.a {
    background-color: dimgray;
    width: 520px;
    height: 175px;
}
.b {
    background-color: olive;
    width: 520px;
    height: 175px;
    
}
.c {
    background-color: deepskyblue;
    width: 520px;
    height: 175px;
}
