* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 150px;
    margin: 10px;}

.container {
    background-color: firebrick;
    width: 650px;
    padding: 20px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.classes {
    display: flexbox;
    padding: 1.5em;
    justify-content: flex-start;
}


.top {
    background-color: dimgray;
    width: 520px;
    height: 175px;
    display: flex;
    margin: 20px;
    padding: 20px;
    justify-content: space-evenly;
    justify-content: flex-end;
}
.middle {
    background-color: olive;
    width: 520px;
    height: 175px;
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    justify-content: center;    
}
.bottom {
    background-color: deepskyblue;
    width: 520px;
    height: 175px;
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    justify-content: flex-end;
}

h3 {
    text-align: center;
}

label {
    color: aqua;
    text-decoration: underline;
}