
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(47, 46, 46);
}

.header {
    min-width: 100%;
    align-items: center;
}

.nav {
    color: whitesmoke;
    background-color: darkcyan;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    width: 100%;
}
.dojonary {
    background-color: transparent;
}

.search {
    background-color: whitesmoke;
    box-shadow: 0 8px 8px 0 black;
    color: rgb(47, 46, 46);
    text-align: center;
    font-size: 16pt;
}
.login {
    background-color: darkcyan;
    box-shadow: 0 8px 8px 0 black;
    color: whitesmoke;
    padding: 2px 14px;
    text-align: center;
    font-size: 16px;
}

body{
    min-width: 100%;
    display: inline-flexbox;
}

.container1 {
    flex: 2;
    margin: 1rem;
    min-height: 150px;
    width: 50%;
}

.dictionaryEntry {
    min-height: 150px;
    min-width: 30%;
    margin: 1.5rem;
    display: flex;
    padding: 1.5rem;
    border: 2px solid darkcyan;
}

.name {
    min-height: 150px;
    min-width: 30%;
    text-align: center;
    color: whitesmoke;
}

.definition {
    color: whitesmoke;
    margin: 1rem;
}

.container2 {
    flex: 1;
    margin: 1rem;
    min-height: 150px;
    width: 30%;
}
a {
    color: darkcyan;
}

.likes {
    background-color: darkcyan;
    box-shadow: 0 8px 8px 0 black;
    color: whitesmoke;
    padding: 2px 14px;
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
}
p {
    justify-content: center;
}

.home {
    display: flex;
}
.dojonary2 {
    border: 2px solid darkcyan;
    color: whitesmoke;
    margin: 1.5rem;
    padding: 1.5rem;
    text-align: center;
}
.addDefinition {
    background-color: darkcyan;
    box-shadow: 0 8px 8px 0 black;
    color: whitesmoke;
    padding: 2px 14px;
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
}


