* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
margin: 20px auto;
width: 75%;
}

.cardbody {
    position: absolute;
    border: 2px solid black;
    min-width: 40%;
    background-color: blanchedalmond;
    margin: 1.5rem;

}
.top {
    background-color: dodgerblue;
    height: 75px;
    margin-bottom: 25px;
}

.circle {
    position: absolute;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    background-color: gainsboro;
    margin-left: 60px;
}

.content {
    min-width: 40%;
    margin-left: 20px;
    padding-bottom: 20px;
}

.userface {
    margin-top: 30px;
    margin-left: 40px;
    width: 80px;
}

.pindrop {
    width: 20px;
}

.profilegear {
    width: 20px;
}

.gear {
    margin-top: 60px;
}
h3 {
    margin-top: 1em;
}