.parent{
    display: flex;
}

.green {
    width: 150px;
    height: 200px;
    background-color: green;
    align-items: center;
    border: 1px solid;
}
.white {
    width: 150px;
    height: 200px;
    background-color: white;
    align-items: center;
    border: 1px solid;
}
.red {
    width: 150px;
    height: 0px;
    background-color: red;
    align-items: center;
    border: 1px solid;
}